@model IndexVM

<div>
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[0].Image class='draggable' id='dragFirst' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[1].Image class='draggable' id='dragSecond' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[2].Image class='draggable' id='dragThird' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[3].Image class='draggable' id='dragFourth' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[4].Image class='draggable' id='dragFifth' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[5].Image class='draggable' id='dragSixth' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[6].Image class='draggable' id='dragSeventh' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[7].Image class='draggable' id='dragEigth' />
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[8].Image class='draggable' id='dragNinth' />
</div>
<div>
    <table id="wordTable">
        <tbody>
            <tr>
                <td class='droppable' id='dropFirst'><p>@Model.ItemList[0].WordSE</p></td>
                <td class='droppable' id='dropSecond'><p>@Model.ItemList[1].WordSE</p></td>
                <td class='droppable' id='dropThird'><p>@Model.ItemList[2].WordSE</p></td>
            </tr>
            <tr>
                <td class='droppable' id='dropFourth'><p>@Model.ItemList[3].WordSE</p></td>
                <td class='droppable' id='dropFifth'><p>@Model.ItemList[4].WordSE</p></td>
                <td class='droppable' id='dropSixth'><p>@Model.ItemList[5].WordSE</p></td>
            </tr>
            <tr>
                <td class='droppable' id='dropSeventh'><p>@Model.ItemList[6].WordSE</p></td>
                <td class='droppable' id='dropEigth'><p>@Model.ItemList[7].WordSE</p></td>
                <td class='droppable' id='dropNinth'><p>@Model.ItemList[8].WordSE</p></td>
            </tr>
        </tbody>
    </table>
</div>
